@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");
body {
  background-color: #ffcd9e;
  margin: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 70vh;
  /* width: 65vw; */
  /* padding: 2rem 0; */
  display: flex;
  align-items: center;
}
.main > div {
  /* width: 50%; */
}
input {
  border: 4px solid black;
  border-radius: 6px;
  height: 2.5rem;
  width: 15rem;
}
::placeholder {
  padding-left: 1rem;
  font-weight: bold;
}
button {
  background-color: #282828;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  height: 3rem;
  width: 10rem;
}
h6 {
  color: white;
  width: 16rem;
  text-align: center;
}
.left-div {
  /* padding: 0 2rem 0 0; */
}
.left-div > p {
  padding: 0 8rem 0 0;
}
.right-div {
  height: 350px;
  display: flex;
  justify-content: end;
}
footer {
  background-color: #282828;
  color: white;
  /* height: 30vh; */
  width: 100%;
  margin: 0;
  padding: 10px 0;
  /* position: fixed;
  bottom: 0; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 833px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-right {
  text-align: right;
}

@media screen and (min-device-width: 833px) {
  .main {
    width: 833px;
  }
}

@media screen and (min-device-width: 700px) and (max-device-width: 832px) {
  .main {
    width: 833px;
    /* update later */
  }
}

@media only screen and (max-device-width: 699px) {
  .main {
    width: 95vw;
    /* update later */
  }
}
